:root {
  --color-bg: white;
  --wrapper-border: 10px solid #162f2d;
	--ascent-color: rgb(0, 17, 44);
	--body-text-color: #4e4241; 
}

* {
  box-sizing: border-box;
}
html {
  font-size: 1.125rem;
  font-family: montserrat, Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding-top: 3.25rem;
  min-height: 100vh;
	background: #dff2f0;
	color: var(--body-text-color);
}

ul {
	list-style: none;
}

h1 {
  margin: 0 auto;
  color: var(--ascent-color);
  text-align: center;
  padding-bottom: 1.25rem;
  font-size: 50px;
}

p {
  text-align: center;
  color: var(--ascent-color);
  padding-bottom: 2.5rem;
}

.list-wrapper {
  margin: 0 auto;
  padding: 1.25rem 0;
  width: 100%;
  max-width: 350px;
  min-height: 350px;
  border-radius: 10px;
  border-bottom: var(--wrapper-border);
  background-color: var(--color-bg);
  box-shadow: 0 7px 30px rgba(67, 70, 77, 0.3);
}

.list-content {
  padding-left: 20px;
  padding-right: 30px;
}

.addItem-input {
  display: flex;
  align-items: center;
}
.addItem-input input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  padding: 10px;
  transition: all 0.3s;
  font-size: 14px;
  flex: 1;
}
.addItem-input i {
  font-size: 20px;
  color: #c3c3c3;
  transition: color 0.3s;
  margin-left: -20px;
}
.addItem-input input[type="text"]::placeholder {
	color: #c3c3c3;;
}
.addItem-input input[type="text"]:focus {
	border-bottom: 1px solid #ff4500;
}
.addItem-input i:hover,
.addItem-input input[type="text"]:focus + i {
  color: var(--body-text-color);
  cursor: pointer;
}

.list-item {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto 1fr auto;
	align-content: center;
	margin: 20px 0px;
}

.list-item label {
  position: relative;
  max-width: 70%;
  padding: 5px 10px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;

  transform-origin: 0 50%;
  animation: pulse 0.4s ease forwards;
  overflow: hidden;
}

.list-item .done {
	color: rgba(166, 166, 166, 0.3);
	text-decoration: line-through;
}

.icon-trash {
  cursor: pointer;
  color: rgba(166, 166, 166, 0.3);
}
.icon-trash:hover {
  color: #ff4500;
}

i {
	padding: 5px 0px;
}

.list-item > input[type="checkbox"]:checked + label .check__box {
  border: none;
}
.list-item > input[type="checkbox"]:checked + label .check__pointer {
  transform: translate(-50%, -50%) scale(1);
}
.list-item > input[type="checkbox"]:checked + label .item__title {
  color: #c7c7c7;
}

.list-item > input[type="checkbox"] {
	margin: 5px 0px;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


